.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.chat-container {
    width: 1000px;
    margin: 0 auto;
    border: 2px dotted black;
}

.chat {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.chat__item {
    border: 1px solid gray;
    height: 400px;
    width: 50%;
}

.chat__message {
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 5px;
}

.invalid {
    border-color: red;
}